server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        - id: car-service
          uri: lb://CAR-SERVICE
          predicates:
            - Path=/api/cars/**
        - id: rental-service
          uri: lb://RENTAL-SERVICE
          predicates:
            - Path=/api/rentals/**
            
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: false
